#!/bin/bash


#Change Log
#v1.0
#Скрипт проверяет что он запущен на активном мониторе, чтобы письма отправлялись
#только с него, а не со всех.
#(иначе писем будет по количеству мониторов)
#Далее проверка названия ceph
#Проверка, по пингу, все ли хосты на связи, если потери пакетов то выставить флаги.
#Запускать раз в 2 минуты, т.к. скрипт выполняется 71 секунду.

#Программа отправитель почты
MAILER="$(which mail)"
#Кому отправлять почту
MAIL="support@testcom.com"
#копия письма
CC="support@testcom.com"
#От кого отпралять почту
SENDER="ceph@testcom.com"
#Сборка тела письма в файле
BODY="/tmp/mailbody"
#host
HOST=$(hostname -s)
#Активный монитор
ACTIVE=$(ceph -s | grep mgr | cut -c 10-  | awk '{print $1, $2, $3}' | sed 's/(.*//')

ID_CEPH=$(ceph -s | grep id: | awk '{print $2}')

CEPH_NAME=null

#echo $CEPH_NAME

#echo $CEPH_NAME
#Тут сопоставление имён ceph к id
case "$ID_CEPH" in
    "00000000-0000-0000-0000-000000000000" )
    CEPH_NAME=Ceph3 ;;
    "00000000-0000-0000-0000-000000000000" )
    CEPH_NAME=Ceph4 ;;
    "00000000-0000-0000-0000-000000000000" )
    CEPH_NAME=Ceph5 ;;
    "00000000-0000-0000-0000-000000000000" )
    CEPH_NAME=Ceph6 ;;
    "00000000-0000-0000-0000-000000000000" )
    CEPH_NAME=Ceph7 ;;
    "00000000-0000-0000-0000-000000000000" )
    CEPH_NAME=Ceph8 ;;
    "00000000-0000-0000-0000-000000000000" )
    CEPH_NAME=Ceph9 ;;
esac

#echo $ID_CEPH
#echo $CEPH_NAME

if [ "$HOST" = "$ACTIVE" ]; then
#echo "Данный сервер является активным монитором"

readarray hosts < /etc/ceph/scripts/host_ceph.txt

for h in ${hosts[@]}; do
  result=$(ping -c 3 -W  1 -q  $h | grep transmitted)
  pattern="0 received";
  if [[ $result =~ $pattern ]]; then
     echo "$h ping fail!" > /dev/null
     ns=$(nslookup $h | awk '{ print $4 }' | head -n1)
     #отправка письма
     echo "$CEPH_NAME name:$ns or ip:$h ping failed!" > $BODY
     $MAILER -s "$CEPH_NAME name:$ns or ip:$h ping failed!" $MAIL -r $SENDER < $BODY
     rm -rf /tmp/mailbody
     echo $h > /dev/null

     #Сообщение в mattermost
      echo "{\"username\": \"Kraken\", \"channel\":\"it\", \"text\": \" $CEPH_NAME name:$ns or ip:$h ping failed! \", \"icon_emoji\": \":squid:\"}" > /tmp/test
      curl -k -i -X POST -H 'Content-Type: application/json' -d @/tmp/test https://mt.testcom.ru/hooks/iwdwekjfhweifgweyoigfuywe
      rm -rf /tmp/test
  else
    echo "$h is up" > /dev/null
  fi
done

else
echo "Данный сервер не активный монитор" > /dev/null
fi